<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>Car Price Prediction</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .navbar {
            background-color: #343a40;
            width: 100%;
            padding: 1em;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar span {
            color: #ffffff;
            font-size: 1.5em;
            font-weight: bold;
        }

        .navbar .right-links a {
            color: #ffffff;
            text-decoration: none;
            padding: 0.5em 1em;
            margin-left: 10px;
            transition: background-color 0.3s ease;
        }

        .navbar .right-links a:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
        }

        .container {
            max-width: 600px;
            width: 100%;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-top: 60px; /* To account for navbar height */
            overflow-y: auto;
            max-height: 80vh;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #343a40;
        }

        .form-group input, .form-group select {
            margin-bottom: 15px;
            border-radius: 5px;
        }

        .btn-block {
            width: 100%;
            background-color: #343a40;
            border: none;
        }

        .btn-block:hover {
            background-color: #495057;
        }

        p {
            text-align: center;
            font-size: 1.2em;
            color: #343a40;
            margin-top: 20px;
        }

        #info {
            display: none;
            margin-top: 20px;
        }

        #info ul {
            list-style-type: none;
            padding: 0;
        }

        #info li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <span>CAR PRICE</span>
        <div class="right-links">
            <a href="/">Home</a>
        </div>
    </div>

    <div class="container">
        <h2>Car Price Prediction</h2>

        <form action="/predict" method="post">
            <div class="form-group">
                <select class="form-select" name="col1">
                    <option selected>Select Name of the car:</option>
                    {% for name in unique_names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="col2" placeholder="Enter  Production Year (model of the car)">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="col3" placeholder="Enter value for km_driven">
            </div>

            <div class="form-group">
                <select class="form-select" name="col4">
                    <option selected>Select fuel type</option>
                    {% for fuel in unique_fuels %}
                        <option value="{{ fuel }}">{{ fuel }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <select class="form-select" name="col5">
                    <option selected>Select seller type</option>
                    {% for seller in unique_seller_types %}
                        <option value="{{ seller }}">{{ seller }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <select class="form-select" name="col6">
                    <option selected>Select transmission (Gear mode)</option>
                    {% for transmission in unique_transmissions %}
                        <option value="{{ transmission }}">{{ transmission }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select class="form-select" name="col7">
                    <option selected>Select Owner type (Previous)</option>
                    {% for owner in unique_owners %}
                        <option value="{{ owner }}">{{ owner }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="col8" placeholder="Enter value for Mileage">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="col9" placeholder="Enter value for Engine">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="col10" placeholder="Enter value for max_power">
            </div>

            <div class="form-group">
                <select class="form-select" name="col11">
                    <option selected>Select torque</option>
                    {% for torque in unique_torques %}
                        <option value="{{ torque }}">{{ torque }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="col12" placeholder="Enter value for number of Seats">
            </div>

            <input type="submit" class="btn btn-primary btn-sm btn-block" value="Predict">
        </form>
        
        <div id="info">
            <h3>Information About Input Fields</h3>
            <ul>
                <li><strong>Name: </strong>The car model is a "Toyota Corolla"</li>
                <li><strong>Production Year: </strong>The car was manufactured in "2018"</li>
                <li><strong>Km Driven: </strong>The car has been driven for "50,000" kilometers</li>
                <li><strong>Fuel: </strong>This vehicle runs on "diesel" fuel</li>
                <li><strong>Seller Type: </strong>The car is being sold by a "private owner"</li>
                <li><strong>Gear Box: </strong>The car features a "manual" transmission</li>
                <li><strong>Owner: </strong>The vehicle has had one previous owner.</li>
                <li><strong>Mileage: </strong>This car offers a mileage of 20 kilometers per liter.</li>
                <li><strong>Engine: </strong>It is equipped with a 1.5-liter engine.</li>
                <li><strong>Max Power: </strong>The engine produces a maximum power of "100" horsepower.</li>
                <li><strong>Torque: </strong>The car delivers a torque of "150 Nm"</li>
                <li><strong>Seats: </strong>The vehicle has a seating capacity of 5 people.</li>
                <li><strong></strong></li>
            </ul>
        </div>
        <br>

    <button class="btn btn-secondary" onclick="toggleInfo()">Data Information</button>
        
        {% if value %}
            <p>Predicted Car Price: {{ value }}</p>
        {% endif %}
    </div>

    <script>
        function toggleInfo() {
            var infoDiv = document.getElementById("info");
            if (infoDiv.style.display === "none") {
                infoDiv.style.display = "block";
            } else {
                infoDiv.style.display = "none";
            }
        }
    </script>
</body>
</html>

